/Proyecto1/build/
/Proyecto06(Video)/build/
/Proyecto06(Video)/nbproject/private/
/Tarea02(ImagenSonido)/nbproject/private/
/Tarea02(ImagenSonido)/build/
/Proyecto07(Tablas)/nbproject/private/
/Proyecto07(Tablas)/build/
/Proyecto8(Frameset)/nbproject/private/
/Proyecto8(Frameset)/build/
/Proyecto08(Frameset)/nbproject/private/
/Proyecto09(FrameSetDinamico)/nbproject/private/
/Proyecto09(FrameSetDinamico)/build/
/Tarea03(abbr)/nbproject/private/
/Tarea03(abbr)/build/
/Tarea03(applet)/nbproject/private/
/Tarea03(applet)/build/
/Tarea03(base)/nbproject/private/
/Tarea03(base)/build/
/Tarea03(article)/nbproject/private/
/Tarea03(area)/nbproject/private/
/Tarea03(area)/build/
/DefaultWebProject/nbproject/private/
/DefaultWebProject0/nbproject/private/
/Tarea03(Base)/nbproject/private/
/Tarea03(applet)/dist/
/Tarea03(Base)/build/
/Tarea03(adress)/nbproject/private/
/Tarea03(adress)/build/